*{
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #181a1b;
    color: #fff;
}

header{
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}

h1{
    margin: auto;
}

input{
    font-size: 20px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #fff
}
textarea{
    margin: auto;
    width: 150px;
    height: 150px;
    border: 0;
}

button{
    border: 0;
    background-color: #888;
    padding: 10px;
    color: #000;
    border-radius: 15px;
}


textarea {
    resize: none;
}
/* --------------------- */

.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.settings{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
    border-radius: 15px;
}

.settings div{
    margin: auto;
}

.settings-border-radius{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.settings-border-radius div{
    margin-top: 20px;
}

.viewer{
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
}

.more-settings{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.more-settings div{
    margin-top: 20px;
}

/* --------------------------------- */

#object{
    border: 1px solid #fff;
    margin: auto;
    display: flex;
}